@model IEnumerable<TCC_2._0.Models.ITENSENTRADA>

@{
    ViewBag.Title = "Index";
}

<link href="~/css/CRUD2.css" rel="stylesheet"/>

<body class="fundo">
    <p><a class="btn btn-info" href="/ITENSENTRADA/Criar">Criar Itens na Entrada &raquo;</a></p>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Entrada</th>
                <th scope="col">Produto Tipo</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
             
               
            </tr>
        </thead>    
        <tbody>
            @foreach (var item in Model)
            {

                    <tr>
                        <td scope="row">@item.ITEID</td>
                        <td>@item.ENTRADA.ENTOBSERVACAO</td>
                        <td>@item.PROTIPO.PRODUTO.PRODESCRICAO @item.PROTIPO.TIPO.TIPNOME</td>
                        <td>@item.ITEQUANTIDADE</td>
                        <td>@item.ITEPRECO</td>
                   

                        <td>

                            <a href="/ITENSENTRADA/editar?id=@item.ITEID"><button type="button" class="btn btn-warning">Editar</button></a>
                            <a href="/ITENSENTRADA/deletar?id=@item.ITEID"><button type="button" class="btn btn-danger">Deletar</button></a>

                        </td>

                    </tr>
                
            }




        </tbody>
    </table>


</body>








<p><a href="/home/projetos" class="btn btn-primary">Voltar &raquo;</a></p>